*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
}

/* HEADER & FOOTER*/

header, footer {
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
}

header ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

li, a {
    color: white;
    list-style-type: none;
    margin: 0 auto;
    padding: 0 5px;
    text-decoration: none;
}

#logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    margin: 10px 0;
}

/* HERO*/

#hero {
    background: #1f2937;
    color: white;
    display: flex;
    max-height: 20%; 
    justify-content: center;
    align-items: center;
}

.hero-article {
    max-height: 25%;
    max-width: 60%;
    padding: 5% 2.5%;
}

.hero-article p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-article button {
    background: rgb(59, 130, 246);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    padding: 5px 20px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

/* RANDOM INFO*/

.tile-panel {
    height: 25%;
}

h2 {
    text-align: center;
}

.tile-container {
    display: flex;
    justify-content: center;
}

.tile-image {
    border: solid 3px rgb(59, 130, 246);
    border-radius: 10%;
    height: 30%;
}

figcaption {
    margin: 5% 0;
}

/* QUOTE SECTION*/

.quote {
    background: rgb(229, 231, 235);
}

#quoted-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

#quoted-text + span {
    font-weight: bold;
    text-align: end;    
}

