*, *:before, *:after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
}

header {
    background: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
}

header ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

li, a {
    color: white;
    list-style-type: none;
    padding: 5px;
    text-decoration: none;
}